<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:a4j="http://richfaces.org/a4j">
<h:head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<script name="jquery/jquery.js" library="primefaces"></script>
	<title>А теперь о погоде</title>
</h:head>


<h:form id="form">
	<p:growl id="data" showDetail="true"/>

	<p:outputLabel style="margin-top: 10px" value="#{msgs['meteoData.wholeListAccuWeather']}"> </p:outputLabel>
	<p:dataTable editable="true" id="wholeList" style="margin-top: 20px" value="#{meteoDataController.listAccuWeather}"
				 var="meteoData">

		<p:ajax event="rowEdit" listener="#{meteoDataController.onRowEdit}" update=":form:data"/>
		<p:ajax event="rowEditCancel" listener="#{meteoDataController.onRowCancel}" update=":form:data"/>


		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.serviceName']}"> </h:outputText>
			</f:facet>
			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{msgs['serviceName.AccuWeather']}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{msgs['serviceName.AccuWeather']}" style="width:100%"
												   readonly="true"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.city']}"> </h:outputText>
			</f:facet>
			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.city}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.city}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.timestamp']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.read_timestamp}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.read_timestamp}" style="width:100%" type="date"
												   readonly="true"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.temperature']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.temperature}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.temperature}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.humidity']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.humidity}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.humidity}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.pressure']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.pressure}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.pressure}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.windDirection']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.wind_direction}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.wind_direction}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.windSpeed']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.wind_speed}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.wind_speed}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column style="width:32px">
			<p:rowEditor/>
		</p:column>
	</p:dataTable>

	<h:commandLink action="#{meteoDataController.refreshAccuWeatherData()}" value="#{msgs['buttons.refreshTable']}">
		<a4j:support event="onclick" reRender="form"/>
	</h:commandLink>
</h:form>

<h:form id="form2">
	<p:growl id="data2" showDetail="true"/>

	<p:outputLabel style="margin-top: 10px" value="#{msgs['meteoData.wholeListGisMeteo']}"> </p:outputLabel>
	<p:dataTable editable="true" id="wholeList2" style="margin-top: 20px" value="#{meteoDataController.listGisMeteo}"
				 var="meteoData">

		<p:ajax event="rowEdit" listener="#{meteoDataController.onRowEdit}" update=":form:data"/>
		<p:ajax event="rowEditCancel" listener="#{meteoDataController.onRowCancel}" update=":form:data"/>


		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.serviceName']}"> </h:outputText>
			</f:facet>
			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{msgs['serviceName.GisMeteo']}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{msgs['serviceName.GisMeteo']}" style="width:100%"
												   readonly="true"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.city']}"> </h:outputText>
			</f:facet>
			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.city}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.city}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.timestamp']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.read_timestamp}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.read_timestamp}" style="width:100%" type="date"
												   readonly="true"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.temperature']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.temperature}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.temperature}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.humidity']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.humidity}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.humidity}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.pressure']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.pressure}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.pressure}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.windDirection']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.wind_direction}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.wind_direction}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['meteoData.windSpeed']}"> </h:outputText>
			</f:facet>

			<p:cellEditor>
				<f:facet name="output"><h:outputText value="#{meteoData.wind_speed}"/></f:facet>
				<f:facet name="input"><p:inputText value="#{meteoData.wind_speed}" style="width:100%"/></f:facet>
			</p:cellEditor>
		</p:column>
		<p:column style="width:32px">
			<p:rowEditor/>
		</p:column>
	</p:dataTable>

	<h:commandLink action="#{meteoDataController.refreshGisMeteoData()}" value="#{msgs['buttons.refreshTable']}">
		<a4j:support event="onclick" reRender="form"/>
	</h:commandLink>
</h:form>


</html>